@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin:0px;
    box-sizing: border-box;
}
/* en todo el body ponemos un margen de 0 y border-box toma el ancho y alto del contenido*/
#descuentos {
    background-color: #1CD1B0;
    padding: 10px 10px;
    margin: 0px;
    font-size: 15px;
}
header{
    position: sticky; /*posicionamiento fijo*/
    top: 0px;
    z-index: 5; /* eje "z" cambia el orden de las capas */
}
header .titulo{
    background-color: #00669F;
    padding: 28px 868px 26px 28px;
    top: 15px;
    box-shadow: 10px 20px 25px grey;
    font-size: 40px;
    font-weight: bold;
}

main {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
    background-color: white;
    /* display: flex;
    justify-content: space-between; */
}

.perfil {
    position: relative;
    display: inline-block; /* pone uno al lado del otro*/
    width: 300px;
    height: 530px;
    border-top-left-radius: 30px; /* redondea las esquinas superior left/right */
    /* border-top-right-radius: 30px; */
    margin-left: 32px;
    background-color: #F3F3F3;
    box-shadow: 10px 20px 25px grey; /* agrega sombras */
    text-align: center;
}
.favorito {
    position: absolute;
    top: 15px;
    left: 15px;
}

.fotoPerfil {
    position: absolute;
    top: 128px;
    left: 90px;
    border-radius: 50%; /* hacer la imagen "circular" */
}

h2 {
    position: absolute;
    top: 266px;
    left: 90px;
}

.texto {
    position: absolute;
    left: 16px;   
    top: 311px;
    text-align: left;
}

.boton {
    background-color: #00669F;
    height: 48.52px;
    width: 128.78px;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 85px;
    top: 461px;
}

footer{
    background-color: #00669F;
    color: white;
    padding: 16px 671px 16px 16px;
    margin-top: 153px;
}